.shelter-card {
min-height: 350px;
max-height: 350px;
width: 18rem;
display: flex;
flex-direction: column;
overflow: hidden;
}

.card-img-top {
height: 180px;
object-fit: cover;
}

.card-body {
flex: 1 1 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
}

.card-text {
font-size: 0.9rem;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3; /* max 3 lines */
-webkit-box-orient: vertical;
flex-shrink: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
filter: invert(1)
}